@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

/* main: start */
/* section intro: start */
.intro {
    margin-top: 4rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.intro div h1 {
    font-size: 4rem;
    text-transform: capitalize;
    line-height: 5rem;
}

.intro div article {
    font-size: 1.5rem;
    width: 36rem;
    line-height: 3rem;
}

.intro img {
    width: 30rem;
    min-width: 30rem;
}
/* section intro: end */
/* section about: start */
.about {
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/about-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(44, 44, 44);
    background-blend-mode: overlay;
}

.about h1 {
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    background-color: rgb(153, 153, 153);
    text-transform: uppercase;
    font-size: small;
}

.about h2 {
    text-transform: capitalize;
}
/* section about: end */
/* section work: start */
.work {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work h1 {
    text-transform: capitalize;
}

.work-cards {
    perspective: 800px;
}

.work-cards div {
    transform-style: preserve-3d;
    margin-bottom: 4rem;
}

.work-cards div img {
    width: 100%;
}

.work-cards div:hover .work-cards-front {
    animation: flip-front 0.3s forwards;
}

.work-cards div:hover .work-cards-back {
    animation: flip-back 0.3s forwards;
}

.work-cards-front {
    backface-visibility: hidden;
    border: 1px black solid;
    animation: reverse-front 0.3s forwards;
}

.work-cards-back {
    backface-visibility: hidden;
    border: 1px black solid;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(180deg);
    background-color: rgb(92, 209, 255);
    animation: reverse-back 0.3s forwards;
}

.work-cards-back a {
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 1rem;
    width: 7rem;
}

.work-cards-back a:nth-of-type(2n-1) {
    background-color: wheat;
}

.work-cards-back a:nth-of-type(2n) {
    background-color: aquamarine;
}

/* .work-cards-aloha {
    background-image: url("../images/project-aloha-screenshot.png");
}

.work-cards-restaurant_review {
    background-image: url("../images/project-restaurant_review-screenshot.png");
}

.work-cards-covid19_app {
    background-image: url("../images/project-covid19_app-screenshot.png");
}

.work-cards-hallway_cafe {
    background-image: url("../images/project-hallway_cafe-screenshot.png");
} */
/* section work: end */
/* section contact: start */
.contact, .contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}

.contact form {
    height: 23rem;
}

.contact form input, .contact form textarea {
    width: 15rem;
}
/* section contact: end */
/* main: end */

/* keyframes: start */
@keyframes flip-front {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}

@keyframes reverse-front {
    0% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes flip-back {
    0% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg)
    }
}

@keyframes reverse-back {
    0% {
        transform: rotateY(360deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}